nav {
  padding: 2em 0;
}

nav ul {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  list-style: none;
}

nav ul li a {
  padding: 10px 20px;
}

nav.mainNav {
  opacity: 1;
  max-width: 900px;
  position: fixed;
  top: 0;
  right: 0;
  background-color: black;
  min-width: 60px;
  min-height: 60px;
  display: flex;
  align-items: center;
  border-bottom-left-radius: 100px;
  padding: 0;
}


nav.mainNav:hover {
  opacity: 1;
}

nav.mainNav ul {
  flex-direction: column;
  display: none;
}

nav.mainNav ul.active {
  display: block;
}