* {
    margin:0;
    padding:0;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

body {
    font-family: 'Lato', sans-serif;
    color: #222;
    padding: 30px;
}

#app {
    width: 50%;
}

input {
    display: inline-block;
    margin: 5px 0;
    font-family: 'Lato', sans-serif;
}

h1 {
    display: block;
    text-align: center;
}

input[type=date],
input[type=number]{
    border: 1px #c6ccf1 solid;
    border-radius: 5px;
}
input[type=number]{
    width: 75px;
}

input{
    padding: 5px 10px;
}

table {
    /*border-collapse: collapse;*/
    width:100%;
    text-align: center;
    border:1px #222 solid;
}

button {
    display: block;
    padding:10px 25px;
    border: 1px #c6ccf1 solid;
    background-color: #eee;
    border-radius: 500px;
    font-size: 1.15em;
    text-transform: uppercase;
}

.center {
    margin-right: auto;
    margin-left: auto;
}

hr {
    margin: 15px auto;
    width: 95%;
}

button:active{
    outline: none;
}

table, th, td {
    border: none;
}

table tr{
    height:25px;
}

table tr:nth-child(2n){
    background-color: #eee
}

table th {
    font-size: 1.2em;
    background-color: #c6ccf1;
}

.form-group {
    display: block;
}
.form-group label{
    display:inline-block;
    width: 90px;
}