*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}
.container {
  margin: auto;
  margin-top: 10px;
  margin-bottom: 30px;
  width: 50%;
  border: solid 2px #0b207e;
  text-align: center;
  padding:10px;
}
h1 {
    margin-bottom: 20px;
    margin-top: 20px;
}
table#board {
  border-collapse: collapse;
  font-size: 75px;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 10px;
}
#board td {
  width:1.5em;
  height: 1.5em;
  text-align: center;
}
#board td:hover {
    cursor: pointer;
  }
#tl,#t,#l,#m {
  border-right: 2px solid black;
  border-bottom: 2px solid black;
  margin: 0;
}
#bl,#b {
  border-right: 2px solid black;
  margin: 0;
}
#r {
  border-top: 2px solid black;
  border-bottom: 2px solid black;
  margin: 0;
}
button{
    text-transform: uppercase;
    background-color: #0b207e;
    color:#eee;
    padding:10px 20px;
    border:none;
    border-radius: 100px;
}
button:hover{
    cursor:pointer;
}
.mt-1{
    margin-top: 1em;
}
.mb-1{
    margin-bottom: 1em;
}
.text-left{
  text-align: left;
}
table#scores{
    text-align: center;
    margin-right: auto;
    margin-left: auto;
    border-collapse: collapse;
}
table#scores tr td{
    border: 1px solid #333;
    padding: 0.2em;
}
ul#logs{
  list-style: none;
  text-align: left;
  border-collapse: collapse;
}
ul#logs li.log{
  border: 1px solid #dddddd;
  border-bottom: 0;
  padding:.3em 1em;
}
ul#logs li.log:last-of-type{
  border-bottom: 1px solid #dddddd;
}
.info-btn{
  color: #2f418d;
  text-decoration: underline;
  display: inline-block;
}
.info-btn:hover{
  cursor: pointer;
}
.info, .settings {
  color:#333;
}
.info h3, .settings h3 {
  margin-top: 1em;
  margin-bottom: .5em;
}
.info h5, .settings h5 {
  margin-top: .5em;
}
.info p, .settings p {
  font-style: italic;
}

.settings label{
  display: inline;
  margin-right: 1em;

}
.settings input[type=text]{
  display: inline;
  border:none;
  border-bottom: 1px #2f418d solid;
  padding-bottom: .2em;
}
.settings input[type=text]:focus{
  outline: none;
  border-bottom: 2px #3e4d8f solid;
}

.d-inline {
  display: inline;
}

/*
.diff-container,
.player-container {
  margin: 10px 0;
}
#difficulty,
#player-symbol {
  font-size: 20px;
}
.scores {
  width: 95%;
  text-align: center;
  margin: auto;
  font-size: 35px;
}
#xscore,
#oscore {
  font-size: 50px;
}

#board {
  margin: auto;
  border-collapse: collapse;
}

button#newgame,
button#reset {
  background-color: rgb(13, 39, 153);
  border: none;
  color: white;
  border-radius: 7px;
  margin: 20px;
  padding: 5px 15px;
  font-size: 20px;
}
button#newgame:hover,
button#reset:hover {
  background-color: rgba(13, 39, 153, 0.9);
  cursor: pointer;
}
button#newgame:focus,
button#reset:focus {
  outline: none;
  box-shadow: 0 0 5px black;
}
